<h1>Admin UI</h1>

<app-spinner [show]="showSpinner" [size]="80"></app-spinner>

<div *ngIf="!showSpinner">
  <button class="btn btn-lg btn-outline-primary" (click)="openNewCategory()"><fa-icon [icon]="addIcon"></fa-icon> Add New</button>

  <table class="table table-striped" *ngIf="categories.length > 0; else noCategories">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Active</th>
      <th scope="col">Have Clips</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories; index as i">
      <th scope="row">{{ category.id }}</th>
      <td>
        <a routerLink="/admin/category/{{ category.id }}">{{ category.name }}</a>
      </td>
      <td>
        <ng-template [ngIf]="category.active" [ngIfElse]="not_active">
          <span class="badge badge-success">Active</span>
        </ng-template>
        <ng-template #not_active>
          <span class="badge badge-danger">Not Active</span>
        </ng-template>
      </td>
      <td>
        <ng-template [ngIf]="category.clips.length > 0" [ngIfElse]="not_active">
          <span class="badge badge-success">Yes</span>
        </ng-template>
        <ng-template #not_active>
          <span class="badge badge-danger">No</span>
        </ng-template>
      </td>
      <td class="actions">
        <div class="d-inline-block" ngbDropdown>
          <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="openEditCategory(category.id)"><fa-icon [icon]="editIcon"></fa-icon> Edit</button>
            <button ngbDropdownItem (click)="deleteCategory(category.id)"><fa-icon [icon]="deleteIcon"></fa-icon> Delete</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <ng-template #noCategories>
    <p>
      <ngb-alert [dismissible]="false">
        <strong>No Categories found</strong>
      </ngb-alert>
    </p>
  </ng-template>

</div>

