@mixin cssTransition($element: all, $duration: .25s, $type: ease-out) {
  transition: $element $duration $type;
  -webkit-transition: $element $duration $type;
  -moz-transition: $element $duration $type;
  -ms-transition: $element $duration $type;
  -o-transition: $element $duration $type;
}