<div class="modal-header">
  <h4 class="modal-title">
    <ng-template [ngIf]="new" [ngIfElse]="edit_category">
      Add new category
    </ng-template>
    <ng-template #edit_category>
      Edit category
    </ng-template>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-spinner [show]="showSpinner" [size]="80"></app-spinner>
  <form [formGroup]="categoryForm" id="categoryForm" (validSubmit)="submitForm()" *ngIf="!showSpinner">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input type="text" class="form-control" id="nameInput" name="nameInput" placeholder="Enter category name" formControlName="Name">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="ActiveCheck" name="ActiveCheck" formControlName="Active">
      <label class="form-check-label" for="ActiveCheck">Check to mark category as active</label>
    </div>
    <input type="hidden" name="id" formControlName="CategoryId">

  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" [disabled]="categoryForm.invalid" (click)="submitForm()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>
