<app-navbar></app-navbar>
<div class="content" role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<app-footer></app-footer>
<app-toast-container aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;"></app-toast-container>
