<div class="modal-header">
  <h4 class="modal-title">
    <ng-template [ngIf]="new" [ngIfElse]="edit_clip">
      Add new clip
    </ng-template>
    <ng-template #edit_clip>
      Edit clip {{clip.name}}
    </ng-template>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-spinner [show]="showSpinner" [size]="80"></app-spinner>
  <form [formGroup]="clipsForm" *ngIf="!showSpinner">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" placeholder="Enter clip name" formControlName="Name">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" formControlName="Active">
      <label class="form-check-label">Check to mark clip as active</label>
    </div>
    <input type="hidden" formControlName="ClipId">
    <input type="hidden" formControlName="CategoryId">
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" [disabled]="clipsForm.invalid" (click)="submitForm()">Submit</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Close click')">Close</button>
</div>
