<div *ngIf="show">
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" [ngStyle]="{'height': size+'px', 'width': size+'px'}" role="status" aria-hidden="true"></div>
  </div>
</div>
