<h1 *ngIf="!category">Admin UI Category</h1>
<h1 *ngIf="category">Admin UI Category: {{ category.name }}</h1>

<app-spinner [show]="showSpinner" [size]="80"></app-spinner>

<button class="btn btn-lg btn-outline-primary" (click)="openNewClip()" *ngIf="!showSpinner"><fa-icon [icon]="addIcon"></fa-icon> Add New Clip</button>

<div *ngIf="!showSpinner && category.clips.length > 0; else noClips">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Active</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clip of category.clips; index as i">
      <th scope="row">{{ clip.id }}</th>
      <td>{{ clip.name }}</td>
      <td>
        <ng-template [ngIf]="clip.active" [ngIfElse]="not_active">
          <span class="badge badge-success">Active</span>
        </ng-template>
        <ng-template #not_active>
          <span class="badge badge-danger">Not Active</span>
        </ng-template>
      </td>
      <td class="actions">
        <div class="d-inline-block" ngbDropdown>
          <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <button ngbDropdownItem (click)="openEditClip(clip.id)"><fa-icon [icon]="editIcon"></fa-icon> Edit</button>
            <button ngbDropdownItem (click)="deleteClip(clip.id)"><fa-icon [icon]="deleteIcon"></fa-icon> Delete</button>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noClips>
  <ngb-alert [dismissible]="false">
    <strong>This category has no clips</strong>
  </ngb-alert>
</ng-template>
