<h1>List of all available categories</h1>

<app-spinner [show]="showSpinner" [size]="80"></app-spinner>

<ngb-accordion [closeOthers]="true">
  <div *ngFor="let category of categories">
    <div *ngIf="category.active">
      <ngb-panel id="clip-{{category.id}}">
        <ng-template ngbPanelTitle>
          <span><b>{{category.name}}</b></span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="categoryInfo__">
            <div class="categoryClips__" *ngIf="category.clips.length > 0; else noClips">
              <ul class="clip__" *ngFor="let clip of category.clips">
                <ng-template [ngIf]="clip.active">
                  <li>{{clip.name}}</li>
                </ng-template>
              </ul>
            </div>

            <ng-template #noClips>
              This category has no active clips
            </ng-template>

          </div>
        </ng-template>
      </ngb-panel>
    </div>
  </div>
</ngb-accordion>
